*{margin: 5px;
padding:  0;
}
nav{
    display: flex;
    /* justify-content:space-between; */
    align-items: center;
}
nav img{
    width: 40px ;
    margin-left: 30px;
}

nav{
 
}

nav>ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 20px;
}
nav li a{
    text-decoration: none;
}
.amazone-pic{
    background-image:url("../Images/Group13.png");
    height: 500px;
    width: 1600px;
    background-size: cover;
    position: relative;
    margin: 0 auto;
}
.amazone-text{
  color: rgb(250, 7, 7);
  
    
}
 .ama-h1{
margin:50px 60px ;
position: absolute;
}
.ama-p{
position:absolute ;
margin:90px 60px ;
} 

.button{
    padding: 4px 4px;
    background-color: rgb(243, 139, 4);
}

.button1{
    padding: 4px 4px;
    background-color: rgb(243, 139, 4);
    margin: 0 600px;
}

.input1{
    font-size: 2rem;
    margin:100px 60px;
    position: absolute;
}
.second-container{
    display: flex;
    padding: 20px;
}
.second-text{
    padding-left: 50px;
}
.forth-text{
    align-items: center;
}
.one-two{
    height: 100%;
   
}
.one-two img{
    width: 100%;
    object-fit: cover;
}
.one{
    display: flex;
}

.two{
    display: flex;
}

.three{
    display: flex;
}

.Choose-h1{

}
.choose-middle{
    display: flex;
    margin: 20px;
    padding: 50px;
    gap: 20px;
}
.choose-middle-1{
    background-color: antiquewhite;
}
.choose-middle-2{
    background-color: bisque;
}

.choose-last{
    text-align: center;
    background-color: bisque;
    margin: 20px;
    padding: 50px;
    gap: 20px;
}

.form-pic{
    display: flex;
    margin: 20px;
    padding: 50px;
    gap: 50px;
}
.input{
    border: 1px solid red;
    margin: 10px;
    padding: 20px;
    align-items: center;
}
.p-img{
    position: relative;
}
.p-text{
    position: relative;
    height: 100px;
    width: 100px;
    background-color: red;
    left: 78%; 
    top: -30%;
    transform: rotate(-45deg);
}
.last{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.icon{
    display: flex;
    justify-content: center;
}
.last-text{
    text-align: center;
    color: gray; 
}
.bonus-deal{
    text-align: center;
}
.img-bonus{
    width: 100%;
    position: relative;
}
.bdi{
    width: 100%;
}
.bonus-deal-1{
    position: relative;

}
.bp-1{
    padding: 50px;
    background-color: rgba(248, 248, 246, 0.315);
    position: absolute;
    top: 30%;
    left: 50%;
}
.bdi-1{
    width: 100%;
}



.bonus-deal-2{
    position: relative;

}
.bp-2{
    padding: 50px;
    background-color: rgba(248, 248, 246, 0.315);
    position: absolute;
    top: 30%;
    right: 50%;
}
.bdi-2{
    width: 100%;
}



.bonus-deal-3{
    position: relative;

}
.bp-3{
    padding: 50px;
    background-color: rgba(248, 248, 246, 0.315);
    position: absolute;
    top: 30%;
    left: 50%;
}
.bdi-3{
    width: 100%;
}



.la-bonus{
    display: flex;
    padding: 10px;
    margin: 30px;
    gap: 100px;
}

.la-p{
    padding: 10px;
    margin: 30px;
    gap: 20px;
}

.vid{
    height: 400px;
    width: 600px;
    gap: 40px;
}